/*// ===== Default Theme palette : OverWrite =====
$o-mm-def-color-3: #ff0000;
$o-mm-def-color-7: #87a6b5;*/

$o-color-palettes: (
    'codequarters-1': (
        'o-color-1': #ff0000,
        'o-color-2': scale-color($o-enterprise-color, $saturation: -50%),
        'o-color-3': #F6F6F6,
        'o-color-4': #FFFFFF,
        'o-color-5': #383E45,
    ),
) !default;
$o-color-palette-name: 'codequarters-1' !default;


//-----------------------old working fine:---------------------------------------------------------
//pre navbar line
#cq_template_header_pre {
    & p {
        font-size: 12px;
        font-family: var(--body-font-family);
        color:#9e9e9e;
    }
}
//Social media buttons
.s_social_media {
    & i {
        border:none;
        border-radius:50px;
//        padding-top: 3px;
        width: 2rem;
        height: 2rem;
        background-color: #c3d8dc29;
        color: #0f88bf;
    }
    & i:hover {
        text-decoration: none !important;
        color:inherit;
        filter: brightness(1.5);
    }

};

footer {
    background-color: #1f282e !important;

    & #footer-menu {
        & h5 {
            font-weight: 900;
            color: #0081bb;
            margin-bottom: 0.75rem;
        };

        & a:not(.btn) {
            color:#999b9d;
        };
    };

    & .copyright {
        & a, p {
            color: #999b9d !important;
        }
    };
};

/* navbar searchbar animation */
input[type=search] {
    width: 0px  !important;
}
/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 100%  !important;
    background-image: none !important;
}
.form-control{
transition: none !important;
}
